---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { Image } from "astro:assets";
import Logo from "../assets/name.png";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const languageSwitcher = document.getElementById("languageSwitcher");

    // Add an event listener to handle language change
    languageSwitcher.addEventListener("change", (event: Event) => {
      const selectedLang = (event.target as HTMLSelectElement).value ?? "it";
      window.location.href = `/${selectedLang}/`; // Redirect to the selected language page
    });
  });
</script>

<header
  class="sticky top-0 z-50 bg-white shadow-md flex items-center justify-between px-4 py-3"
>
  <Image src={Logo} alt="Sindia Logo" height={32} />
  <nav class="hidden md:flex space-x-6 text-primary font-heading">
    <a href={`/${lang}#home`} class="hover:underline">{t("header.home")}</a>
    <a href={`/${lang}#menu`} class="hover:underline">{t("header.menu")}</a>
    <a href={`/${lang}#gallery`} class="hover:underline"
      >{t("header.gallery")}</a
    >
    <a href={`/${lang}#about`} class="hover:underline">{t("header.about")}</a>
    <a href={`/${lang}#reviews`} class="hover:underline"
      >{t("header.reviews")}</a
    >
    <a href={`/${lang}#contact`} class="hover:underline"
      >{t("header.contact")}</a
    >
  </nav>
  <div class="flex items-center space-x-4">
    <a
      class="bg-primary text-white px-4 py-2 rounded-full hover:bg-secondary transition-all"
      href="tel:+39 3758999969">{t("header.reserve")}</a
    >
    <select
      class="border-none bg-transparent font-body text-primary"
      value={lang}
      id="languageSwitcher"
    >
      <option value="en" selected={lang === "en"}>EN</option>
      <option value="it" selected={lang === "it"}>IT</option>
    </select>
  </div>
</header>
